body {
	background-color: rgb(48, 10, 36);
	/*background-color: black;*/
	color: white;
	font-family:"Courier New", monospace, "Lucida Console",  Courier,verdana, Lucida ,arial;
}

.contact{
	text-align: center;
}